@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #dbaf5a;
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
}

  

.banner .row-banner {
    background: url(../image/row-banner.png) no-repeat;
    height: 30rem;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .banner .row-banner .content {
    position: absolute;
    top: 50%;
    left: 7%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  

  .banner .row-banner .content span {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    color: #dbaf5a;
    color: #130f40;
  }

  .banner .row-banner .content h3 {
    font-size: 6rem;
    color: #dbaf5a;
    text-transform: uppercase;
  }

  .banner .row-banner .content p {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .banner .grid-banner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }

  .banner .grid-banner .grid {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    height: 45rem;
  }

  .banner .grid-banner .grid:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

  .banner .grid-banner .grid img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .banner .grid-banner .grid .content {
    position: absolute;
    top: 2rem;
    padding: 0 2rem;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  .banner .grid-banner .grid .content.center {
    text-align: center;
    width: 100%;
  }

  .banner .grid-banner .grid .content.center span {
    color: #666;
  }

  .banner .grid-banner .grid .content.center h3 {
    color: black;
  }

  .banner .grid-banner .grid .content span {
    font-size: 2.5rem;
    color: #fff;
  }

  .banner .grid-banner .grid .content h3 {
    font-size: 3rem;
    color: #dbaf5a;
    padding-top: .5rem;
  }


.menu .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }

  .menu .box-container .box {
    border-radius: .5rem;
    background: #f7f7f7 ;


    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }

  .menu .box-container .box:hover {
    background: #dbaf5a;
  }

  .menu .box-container .box:hover .content h3 {
    color: #fff;
  }

  .menu .box-container .box img {
    height: 10rem;
  }
  

  .menu .box-container .box .content h3 {
    font-size: 2rem;
    color: black;
    padding-bottom: .5rem;
  }

  .menu .box-container .box .content .price {
    font-size: 1.8rem;
    color: #dbaf5a;
  }
  .menu .box-container .box:hover .content .price {
    font-size: 1.8rem;
    color: black;
  }

 .popular{
     padding: 0;
 }
  .popular .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .popular .box-container .box {
    border-radius: .5rem;
    
    position: relative;
    background: #f7f7f7;
    padding: 2rem;
    text-align: center;
    flex-direction: column;
  }
  
  .popular .box-container .box .fa-heart {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
  }
  
  .popular .box-container .box .fa-heart:hover {
    color: #dbaf5a;
  }
  
  .popular .box-container .box .image {
    margin: 1rem 0;
    
  }
  
  .popular .box-container .box .image img {
    height: 25rem;
    width: 40rem;
    border-radius: 10px;
  
  }
  
  .popular .box-container .box .content h3 {
    font-size: 2rem;
    color: black;
  }
  
  .popular .box-container .box .content .stars {
    padding: 1rem 0;
    font-size: 1.7rem;
  }
  
  .popular .box-container .box .content .stars i {
    color: gold;
  }
  
  .popular .box-container .box .content .stars span {
    color: #666;
  }
  
  .popular .box-container .box .content .price {
    font-size: 2rem;
    color: #dbaf5a;
  }
  
  .popular .box-container .box .content .price span {
    font-size: 1.5rem;
    color: #666;
    text-decoration: line-through;
  }
  


  .heading {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .heading span {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #dbaf5a;
  }

  .heading h3 {
    font-size: 3rem;
    color: #130f40;
  }


  .order .icons-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  .order .icons-container .icons {
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    background: #f7f7f7;
  }

  .order .icons-container .icons img {
    height: 10rem;
  }

  .order .icons-container .icons h3 {
    font-size: 2rem;
    color: black;
    margin-top: .5rem;
  }


.footer .bottom {
    padding-top: 1rem;
    text-align: center;
  }

  .footer .bottom .share {
    margin: 1.5rem 0;
  }

  .footer .bottom .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin: 0 .3rem;
    color: #fff;
    background: black;
  }

  .footer .bottom .share a:hover {
    background: #dbaf5a;
  }

  .footer .bottom .credit {
    font-size: 2rem;
    color: #666;
    padding: 1rem;
  }

  .footer .bottom .credit span {
    color: #dbaf5a;
  }
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 1.8rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: #dbaf5a;
    border-radius: .5rem;
  }

  .btn:hover {
    background: #130f40;
  }

  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 9%;
  }

  .header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #130f40;
  }

  .header .logo i {
    padding-right: .5rem;
    color: #dbaf5a;
  }

  .header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #666;
    text-align: center;
  }

  .header .navbar a:hover {
    color: #dbaf5a;
  }

  .header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background: #f7f7f7;
    color: #130f40;
    border-radius: .5rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
  }

  .header .icons div:hover {
    color: #fff;
    background: #dbaf5a;
  } 
  


  .category {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    padding-bottom: 5rem;
  }

  .category .box {
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    background: #f7f7f7;
    flex-direction: column;
  }

  .category .box:hover {
    background: #dbaf5a;
  }

  .category .box:hover h3 {
    color: #fff;
  }

  .category .box img {
    height: 7rem;
  }

  .category .box h3 {
    font-size: 1.8rem;
    color: black;
  }
#burgeri.banner{
    padding: 0;
}

.category{padding: 0;}
.order{padding: 0;}

  @media (max-width: 768px) {
    #menu-btn {
      display: inline-block;
    }
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: #fff;
      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a {
      font-size: 2rem;
      margin: 2rem;
      display: block;
    }
    .home .home-parallax-img {
      top: 0;
      right: 0;
      width: 130%;
    }
    .order form .flex .inputBox {
      width: 100%;
    }

   
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .shopping-cart-container .cart-total .box {
      text-align: center;
    }
    .shopping-cart-container .cart-total .box .btn {
      width: 100%;
    }
    .home .content h3 {
      font-size: 3rem;
    }
    .home .content p {
      font-size: 1.5rem;
    }
  }
  

  /* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
   */
.home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    gap: 2rem;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin-top: -70px;
  
  }
  
  .home .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 41rem;
            flex: 1 1 41rem;
            padding: 2rem 9%;
  }
  
  .home .content span {
    font-size: 2rem;
    color: #dbaf5a;
  }
  
  .home .content h3 {
    font-size: 3rem;
    color: black;
    padding-top: 1rem;
  }
  
  .home .content p {
    font-size: 1.4rem;
    color: #666;
    line-height: 2;
    padding: 1rem 0;
  }
  
  .home .image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 41rem;
            flex: 1 1 41rem;
    margin: 2rem 0;
    pointer-events: none;
  }
  
  .home .image .home-img {
    
    width: 100%;
    margin-top: 5rem;
    
  }


  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 250px;
    display: flex;
    justify-content: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    
  }
  .imgBox {
    width:250px;
    display: flex;
    justify-content: flex-end;
  }
  .imgBox img{
    max-width: 150px;
    
  }
  .swiper-slide img{
    position: absolute;
    bottom: 0;
    /* min-height: 100%; */
    height: 200px;

  }
  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right{
    background: none;
  }
  .swiper-slide p{
font-weight: bold;
  }

 .instagram-media{
   width: 90%;
 }

